<html>
<head>
 <title>HW Manager</title>
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
 <h2>MY Homework Manager</h2>
 <h5>lets you manage your homework in an efficient way</h5>
 <div ng-app="mainApp">
 <p><a href="#intro">Intro</a></p>
 <p><a href="#viewphw">Pending homework</a></p>
 <p><a href="#viewdhw">Done homework</a></p>
 <p><a href="#form">Insert homework</a></p>
 <div ng-view></div>
 <script  type="text/ng-template" id="intro" > 
 <h2> this is my application </h2>
 {{message}}
 </script>
 <script type="text/ng-template" id="viewphw">
 <h2> list of all pending homework </h2>
 {{message}}
 
 <table id="myTable">
   <tr>
      <th>subject</th>
      <th>deadline</th>
      <th>teacher</th>
      <th>details</th>
      <th>change status</th>
   </tr>
   
   <tr ng-repeat = "hw in hws | orderBy:'deadline'">
      <td>{{ hw.subject }}</td>
      <td>{{ hw.deadline }}</td>
      <td>{{ hw.teacher }}</td>
      <td>{{ hw.details }}</td>
      <td><button ng-click="editsubject(0,hw.subject)">done</button>
	<button ng-click="editsubject(1,hw.subject)">delete</button>
	</td>
   </tr>
 </table>
 </script>
 <script type="text/ng-template" id="viewdhw">
 <h2> list of all done homework </h2>
 {{message}}
 
 <table id="myTable">
   <tr>
      <th>subject</th>
      <th>deadline</th>
      <th>teacher</th>
      <th>details</th>
      <th>change status</th>
   </tr>
   
   <tr ng-repeat = "hw in hws | orderBy:'deadline'">
      <td>{{ hw.subject }}</td>
      <td>{{ hw.deadline }}</td>
      <td>{{ hw.teacher }}</td>
      <td>{{ hw.details }}</td>
      <td><button ng-click="editsubject(hw.subject)">delete</button></td>
   </tr>
 </table>
 </script>
 <script  type="text/ng-template" id="form" > 
   <form>
  Subject: <input type="text" name="subject" ng-model = "formData.subject"><br>
  Deadline: <input type="text" name="deadline" ng-model = "formData.deadline"><br>
  Teacher: <input type="text" name="teacher" ng-model = "formData.teacher"><br>
  Details: <input type="text" name="details" ng-model = "formData.details"><br>
  <button ng-click = "add()">Add</button>
</form>
 </script>
 </div>
 <script src="routes.js"></script>
 
<script src="controller.js"></script>

</body>
</html>
